.container-error {
    margin-top: 15vh;
    flex-basis: 100%;
    margin-bottom: 53vh;
}

.container-error h2 {
    font-size: 8em;
    font-weight: 300;
    text-align: center;
    letter-spacing: -0.05em;
}

.container-error p {
    text-align: center;
    margin: 0;
    font-size: 1.5em;
}