/* lancer la musique */

.lancer-music, .pause-music {
    display: none;
    margin-left: 20px;
    margin-right: 10px;
    z-index: 100;
}

.lancer-music img, .pause-music img{
    width: 1.5vw !important;
    height: 1.5vw !important;
    border-radius: 0;
}