* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    cursor: pointer;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
}

body {
    background-color: #ffffff;
}

.container-all {
    display: flex;
    flex-wrap: nowrap;
}

.container-left {
    background-color: #1b191f;
    flex-basis: 20%;
}

.container-milieu {
    color: #fff;
    flex-basis: 80%;
    /* container */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

/* top */

.container-milieu-top {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin: 1em;
}

.container-milieu-top-left {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1em;
}

.rechercher {
    padding: 0.7em;
}

.container-milieu-top-right {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1em;
}

.container-milieu-top-right img {
    width: 30px !important;
    height: 30px !important;
}

.container-milieu-top-right img:nth-child(2) {
    clip-path: circle();
    width: 40px !important;
    height: 40px !important;
}

.container-milieu img {
    width: 220px;
    height: 220px;
    border-radius: 10px;
}

.container-milieu-bottom{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin: 1em;
    padding-left: 6em;
}

.album {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
    flex-basis: 10%;
    margin: 1em;
}

.album h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    max-width: 220px; 
}

/* menu */

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
    margin-top: 2em;
    padding-left: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #3d3c3c;
}

.menu li {
    flex-basis: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}

.menu li button {
    font-size: 1.2em;
}

/* images menu */

.menu img {
    width: 20px;
    height: 20px;
}

.img-active {
    display: inline;
}

.img-hidden {
    display: none;
}


/* playlist */

.container-playlist-top {
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin: 1em;
}

.titre-playlist {
    font-size: 1.2em;
    font-weight: 500;
}

.btn-creer-playlist {
    font-size: 1.5em;
}

.playlist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    flex-basis: 10%;
    margin: 1em;
    color: #fff;
}

.playlist img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}