.container-milieu-album {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* placement */
    margin-top: 2vh;
    margin-bottom: 14vh;
    margin-left: 10vw;
    margin-right: 10vw;
    gap: 10vw;
}

.container-milieu-bottom-left img {
    width: 27vw;
    height: 60vh;
}

.container-milieu-bottom-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
}

.container-milieu-bottom-right p {
    font-size: 1.5vw;
    color: #fff;
    text-align: justify;
}

.container-btn-album {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    /* placement */
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 4vw;
    margin-right: 4vw;
    width: 100%;
}

.btn-retour img, .btn-editer img {
    width: 2vw;
    height: 2vw;
    border-radius: 0;
}

.container-album-artiste {
    background-color: #1b191f;
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto;
    max-height: 50vh;
    max-width: 25vw;
}

.container-album-unique-artiste {
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    background-color: #0f0d13;
    padding: 10px;
    border-radius: 10px;
    transition: 0.1s;
}

.container-album-unique-artiste:hover {
    background-color: #0a090f;
    transition: 0.1s;
}

.container-album-unique-artiste img {
    width: 100px;
    height: 100px;
}

.container-album-unique-artiste p {
    font-size: 1.1vw;
    color: #fff;
    margin-left: 2vw;
    margin-right: 2vw;
}

.container-contenu-album-bottom {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}

.genre-album {
    margin-left: 2vw;
}

.date-album, .genre-album {
    font-size: 0.8vw !important;
    color: #6b6b6b !important;
    flex-basis: 40%;
    /* flex-grow: 1; */
}

/* lancer la musique */

.lancer-music {
    display: none;
    margin-left: 1.53vw;
    margin-right: 1.53vw;
    z-index: 100;
}

.lancer-music img {
    width: 1.5vw;
    height: 1.5vw;
}