.container-btn-playlist {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* placement */
    flex-basis: 100%;
    margin-top: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

.btn-retour img {
    width: 2vw;
    height: 2vw;
    border-radius: 0;
}

.btn-ajouter img {
    width: 3vw;
    height: 3vw;
    border-radius: 0;
}

.btn-ajouter, .btn-retour {
    transition: 0.3s;
}

.btn-ajouter:hover, .btn-retour:hover {
    scale: 1.1;
    transition: 0.3s;
}